.header {
    vertical-align: middle;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}



.login-top-link {
    cursor: pointer;
    color: #E03857;
    float: right;
    vertical-align: middle;
}

.header-button {
    border-radius: 8px;
    border: none;
    background-color: #E03857;
    color: #f1e8e3;
    height: 50px;
    width: fit-content;
    padding: 0px 20px;
    cursor: pointer;
    margin-bottom: .8rem;
}

.hidden-button {
    color: #484848;
    background-color: #f1e8e3;
    border-radius: 8px;
    border: none;
    height: 50px;
    width: fit-content;
    padding: 0px 20px;
    cursor: pointer;
    margin-bottom: .8rem;
}

.hidden-button:hover {
    color: black;
}

@media (max-width: 720px) {
    .header {
        width: 95%;
        padding: 10px;
    }

    .header-button {
        border-radius: 8px;
        border: none;
        background-color: #E03857;
        color: #f1e8e3;
        height: 40px;
        width: fit-content;
        padding: 0px 10px;
        font-size: .5rem;
    }

    .hidden-button {
        color: #484848;
        background-color: #f1e8e3;
        border-radius: 8px;
        /* border: none; */
        height: 40px;
        width: fit-content;
        padding: 0px 10px;
        margin-bottom: 1rem;
        font-size: .5rem;
    }

    li {
        font-size: .5rem;
    }
}