@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');

@font-face {
    font-family: Virgil;
    src: url('../fonts/Virgil.woff2');
}

* {
    /* font-family: 'Virgil'; */
    font-family: 'Solway', serif;
    font-size: 24px;
}

.fullStyle {
    /* height: 70vh; */
    margin-top: 80px;
    padding: 82px;
}

body {
    background-color:#F1E8E3;
}

.content {
    /* background-color: #F1E8E3; */
    color: #484848;
    width: 98%;
    margin: 0 auto;
    height: 50%;
    text-align: center;
}

.logo {
    color: #E03857;
    margin-bottom: 82px;
}

.qyll-title {
    font-size: 4rem;
    vertical-align: middle;
    margin-left: 20px;
}


.logo-image {
    vertical-align: middle;
    width: 120px;
    height: 120px;
}

.try-button {
    border-radius: 8px;
    border: none;
    background-color: #E03857;
    color: #f1e8e3;
    height: 50px;
    width: 140px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.description {
    margin-bottom: 82px;
}

@media (max-width: 720px) {
    .qyll-title {
        font-size: 2.5rem;
        margin-left: 15px;
    }

    .logo-image {
        width: 80px;
        height: 80px;
    }

    .try-button {
        border-radius: 8px;
        border: none;
        background-color: #E03857;
        color: #f1e8e3;
        height: 40px;
        width: 100px;
        font-size: .8rem;
    }
  }