.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .pricing-content {
      width: 50%;
      margin: 0 auto;
  }

  .plan-header {
      background-color: #f1e8e3;
      border-radius: 5px;
      /* border: 2px solid #E03857; */
      border: 2px solid #484848;
      content: fit;
      color: #484848;
      width: 70%;
      margin: 0 auto;
  }

  .plan-features {
      text-align: left;
  }